	body {
	font-family: 'Hind Vadodara', sans-serif;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default {
    background-color: #313131; /* TO DO MAKE DROPDOWN ON MOBILE TRANSPARENT - set this to transparent and then set each segment a different colour. */
    border-color: #313131;
    border-radius: 0px;

}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #c23f1c;
}

.navbar-default .navbar-nav>li>a {
	color: #cccccc;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #c23f1c;
}

.navbar-default .navbar-toggle:focus {
	background-color: #313131;
}

.navbar-default .navbar-toggle:hover {
	background-color: #c23f1c;
	border-color: #c23f1c;
}

.film-preview {
	margin-top: 50px;
}

@media (min-width: 768px) {
	.film-preview {
		margin-top: 100px;
	}
}

.film-preview-item {
	padding-left: 0px;
	padding-right: 0px;
}

.film-text {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 10px 10px 0px 10px; /*TO DO: FIX SPACING INSIDE BOX - use calc or flex-box-align*/
	top: 0;
	text-align: center;
	color: white;
	background-color: rgba(194, 63, 28, 0.5);
}

.film-preview-item:hover .film-text {
	display: inherit;
}

.film-text > h3 {
	font-weight: 400;
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 5px;
}

@media(min-width: 768px) {
	.film-text > h3 {
		font-size: 24px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

}

.film-text > a {
	color: white;
}

.film-text > a:focus, .film-text > a:hover {
	color: #AFAFAF
}


.film-text > a.watch-now {
	font-size: 18px;
}

.film-text > a.film-text-close {
	position: absolute;
	top: 5px;
	right: 15px;
	font-size: 21px;
}

.film-text > a.film-text-close:hover, .film-text > a.film-text-close:focus {
	text-decoration: none;
} 



.modal-xl {
	width: 100%;
	margin: 0px auto;
}


.modal-header {
	padding: 5px 15px 2px 2px;
    border-bottom: 0px;
}

.modal-header .close {
    margin-right: -10px;
}

.modal-header .glyphicon-remove {
	font-size: 18px;
}

.modal-body {
	padding-top: 1px; /* fix for larger device widths */
}

.modal-content {
	min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
}

/*--- about page ---*/

.about-text {
	margin-top: 80px;
} 

.about-text p {
	font-size: 16px;
}