body {
	font-family: 'Hind Vadodara', sans-serif;
}

@media (min-width: 768px) {
  .container {
    width: 650px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 870px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1070px;
  }
}

.navbar {
	margin-bottom: 0px;
}

.navbar.navbar-default {
	border-bottom: 1px solid #ddd;
}

@media (min-width: 768px) {
	.navbar.navbar-default {
		border-bottom: 0;
	}
}

.navbar-default {
    background-color: #ffffff; /* #313131; /* TO DO MAKE DROPDOWN ON MOBILE TRANSPARENT - set this to transparent and then set each segment a different colour. */
    border-color: #ffffff; /* #313131; */
    border-radius: 0px;

}

.navbar-default .navbar-brand {
	color: #212121;
}

@media (min-width: 768px) {
	.navbar-default .navbar-brand {
		padding-left: 0;
	}
}

.navbar-default .navbar-toggle:active .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #c23f1c;
}

.navbar-default .navbar-nav>li>a {
	color: #212121;
}

.navbar-nav>li:last-child>a {
	padding-right: 0px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a.active {
	color: #c23f1c;
}

.navbar-default .navbar-toggle:focus {
	background-color: #313131;
}

.navbar-default .navbar-toggle:hover {
	background-color: #c23f1c;
	border-color: #c23f1c;
}


.film-preview {
	display: block;
	margin-top: 50px;
}

@media (min-width: 992px) {
	.film-preview {
		margin-top: 0;
		height: 100%;
		display: -webkit-flex;
	    display: flex;
	    -webkit-align-content: center;
	    align-content: center;
	    -webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}



.film-preview-item {
	padding-left: 0px;
	padding-right: 0px;
}


.film-text {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	text-align: center;
	color: white;
	background-color: rgba(194, 63, 28, 0.5);
}

.film-preview-item:hover .film-text, .film-text-show .film-text {
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.film-text > div {
	margin: auto;
}

.film-text > div > h3 {
	font-weight: 400;
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 5px;
}

@media(min-width: 768px) {
	.film-text > div > h3 {
		font-size: 24px;
		margin-bottom: 10px;
	}

}

.film-text > div > p {
	width: 90%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.film-text div > .watch-now {
	color: #ffffff;
	font-size: 18px;
	padding: 2px 5px 2px 5px;
	text-decoration: none;
}



.modal-xl {
	width: 100%;
	margin: 0px;
}

.modal, .modal-open {
	padding-right: 0px !important;
}

/*.close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	font-size: 40px;
	margin: 4px;
	z-index: 1000;
}
*/

.modal-content {
	min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
   	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.modal-content > .container-fluid {
	width: 100%;
	padding-left: 0;
	padding-right: 0;

}

.modal-content .embed-column {
	padding-right: 0;
	padding-left: 0;
}

@media (orientation: landscape) {
	.modal-content .embed-column {
		padding-right: 75px;
		padding-left: 75px;
	}
}

.modal-header {
	border-bottom: 0;
	height: 75px;
}

.close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
}


.close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 40px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 40px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*--- about page ---*/

.text-page {
	margin-top: 80px;
} 

.about-text p {
	font-size: 16px;
}

.media-object {
	max-width: 200px;
}